*{
   margin:0;
   padding: 0; 
   box-sizing: border-box;
   /*outline: 1px solid red;*/
}

body{
    background: white;
    font-family: Arial, Helvetica, sans-serif;
}

.hero{
    height: 100vh;
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero__picture{
    margin-bottom: 1em;
}




.hero__texts{
    flex-basis: 40%;

}


.hero__paragraph{
    line-height: 1.5;
    font-weight: 300;
    padding: .7em 0;
}

.hero__cta{
    display: inline-block;
    color: white;
    text-decoration: none;
    background: slateblue;
    padding: 20px 30px;
}

@media screen and (min-width:850px){
    .hero{
        flex-direction: row;
        align-items: center;
    }
    
    .hero__picture{
        flex-grow: 1;
        order: 1;
    }

    .hero__img{ 
        max-width: none;
    }


}